---
layout: default
title: Members
---
<h1>Members</h1>

<ul>
  {% for author in site.authors %}
  {% if author.former_captain == true %}
  <li>
    <h2><a href="{{ author.url }}">{{ author.name }}</a></h2>
    <h3>Former Leader</h3>
    <h3>{{ author.position }}</h3>
    <p>{{ author.content | markdownify }}</p>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<ul>
  {% for author in site.authors %}
  {% if author.captain == true %}
  <li>
    <h2><a href="{{ author.url }}">{{ author.name }}</a></h2>
    <h3>Team Captain</h3>
    <h3>{{ author.position }}</h3>
    <p>{{ author.content | markdownify }}</p>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<ul>
  {% for author in site.authors %}
  {% if author.captain != true%}
  <li>
    <h2><a href="{{ author.url }}">{{ author.name }}</a></h2>
    <h3>{{ author.position }}</h3>
    <p>{{ author.content | markdownify }}</p>
  </li>
  {% endif %}
  {% endfor %}
</ul>