---
layout: default
title: Members
---
<h1>Members</h1>

<h2>Active Members</h2>
<ul>
  {% for author in site.authors %}
  {% if author.captain == true and author.emeritus != true %}
  <li>
    <h2><a href="{{ author.url }}">{{ author.name }}</a></h2>
    <h3>Team Captain</h3>
    <h3>{{ author.position }}</h3>
    <p>{{ author.content | markdownify }}</p>
  </li>
  {% endif %}
  {% endfor %}

  {% for author in site.authors %}
  {% if author.captain != true and author.emeritus != true %}
  <li>
    <h2><a href="{{ author.url }}">{{ author.name }}</a></h2>
    <h3>{{ author.position }}</h3>
    <p>{{ author.content | markdownify }}</p>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<h2>Emeritus</h2>
<ul>
  {% for author in site.authors %}
  {% if author.captain == true and author.emeritus == true %}
  <li>
    <h2><a href="{{ author.url }}">{{ author.name }}</a></h2>
    <h3>Former Captain</h3>
    <h3>{{ author.position }}</h3>
    <p>{{ author.content | markdownify }}</p>
  </li>
  {% endif %}
  {% endfor %}

  {% for author in site.authors %}
  {% if author.emeritus == true and author.captain != true %}
  <li>
    <h2><a href="{{ author.url }}">{{ author.name }}</a></h2>
    <h3>{{ author.position }}</h3>
    <p>{{ author.content | markdownify }}</p>
  </li>
  {% endif %}
  {% endfor %}
</ul>
