@import "gruvbox.css";

$red: #ed5454;
$blue: #73ead3;
$body-font: 'Overpass Mono', monospace;
$title-font: 'Inconsolata', monospace;
$body-font-size: 13px;

body {
    background-color: #333333;
    font-family: $body-font;
    color: $blue;
}

div.highlight {
    overflow-x: auto;
}

pre.highlight {
    overflow-x: auto;
}

.title {
    font-family: $title-font;
    color: $red;
    text-transform: uppercase;
    font-size: 48px;
    padding-top: 12px;
}

#container {
    margin: 0 auto;
    width: 600px;
}

#title-section {
    padding-top: 50px;
    height: 100px;

    a {
        text-decoration: none;
    }
}

.description {
    width: 80%;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}

.section {
    font-size: $body-font-size;
}

#logo {
    height: 100%;
    float: left;
    padding-right: 35px;
}

.post-info {
    text-align: center;
}

.highlight {
    font-family: $body-font;
    overflow-x: scroll;
    padding: 0 5px;
}

p > code {
    background: #555;
    border-radius: 3px;
    padding: 0 2px 1px;
    color: #ed5454;
}

footer {
    margin-bottom: 25px;
}

h1 {
    padding-top: 10px;
    text-align: center;
}

h2 {
    padding-top: 10px;
    font-size: 17px;
}

footer {
    padding-top: 30px;
    text-align: center;
}

a {
    color: white;
    text-decoration-style: none;
}

a:hover {
    color: $red;
    text-decoration-style: wavy;
}

@media only screen and (max-width: 600px) {
    #container {
      width: 100%;
    }

    #title-section {
        text-align: center;
        height: auto;
    }

    #logo {
        height: 120px;
        float: none;
        margin: 0 auto;
        padding-right: 0px;
        padding-bottom: 35px;
    }

    .section {
        margin: 0 auto 25px;
        width: 95%;
    }
  }
