<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta name="image" property="og:image" content="/favicon.png">
    <meta name="description" property="og:description" content="CTF Team at the University of British Columbia">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:700|Overpass+Mono" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180688592-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-180688592-1');
    </script>
  </head>
  <body>
    <div id="container">

      <header>
        <nav>
          {% assign pages = "about,getting_started,blog,members" | split: "," %}
          {% for p in pages %}
          <a href="/{{ p }}"{% if page.name contains p %} class="active"{% endif %}>{{ p }}</a>
          {% endfor %}
        </nav>
        <div class="logo">
          <a href="/">
            <img src="/assets/images/logo.svg">
          </a>
        </div>
        <div class="title-container">
          <div class="title"><a href="/teamname"><span>Maple Bacon</span></a></div>
          <div class="subtitle">
            <span>
              CTF Team at the University of British Columbia
            </span>
          </div>
        </div>
      </header>

      <div class="content">
        {{ content }}
        <!-- Hey, you're close! But there's nothing in the HTML comments either... maybe there are other comments you can find? -->
      </div>

      

      {% include footer.html %}
    </div>
  </body>
</html>
