<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta name="image" property="og:image" content="/favicon.png">
    <meta name="description" property="og:description" content="CTF Team at the University of British Columbia">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="me" href="https://mastodon.social/@maplebaconctf">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:700|Overpass+Mono|Lato|Cantarell" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" crossorigin="anonymous"
            onload='renderMathInElement(document.body, {delimiters: [
                    {left: "$$", right: "$$", display: true},
                    {left: "\\(", right: "\\)", display: false},
                    {left: "\\[", right: "\\]", display: true},
                    {left: "$", right: "$", display: false}
            ]});'>
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180688592-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-180688592-1');
    </script>
  </head>
  <body>
    <main>
      {% include header.html %}
      <div class="content">
        {{ content }}
      </div>
      {% include footer.html %}
    </main>
  </body>
</html>
