---
layout: default
---
<h1>{{ page.title }}</h1>
<p>
    {{ page.date | date_to_string }}
    by <em>{% assign author = site.authors | where: 'short_name', page.author | first %}</em>
    {% if author %}
      - <a href="{{ author.url }}">{{ author.name }}</a>
    {% endif %}
</p>

<p></p>
{% if page.co-authors %}
  {% for co-author in page.co-authors %}
    {% if forloop.first %}
      co-authors: {{ co-author }}
    {% else %}
      ,{{ co-author }}
    {% endif %}
  {% endfor %}
{% endif %}
</p>

<br>

{{ content }}
